h1{
    color:#eaea07;
    margin-left: 25px;
}     

.header *{
   border: solid
}
.header{  
    background-color: #11fa09;
    display: flex;
    justify-content: space-between;
}
.menu{
    margin: 20px;
    padding: 20px;
}
.menu a{
    margin-left: 20px;
}
.grid{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
}
.item{
    position: relative;
}
.item p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-70%);
    opacity: 0;
}
.item:hover p{
    opacity: 1;
}
.item:hover img{
    opacity: 0.4;
}

.footer{
    display: flex;
    justify-content: flex-end;
}
h2, p{
     text-align: center;
}
body{
    background-color: #dc143d;
}

a:link{
    color: rgba(1, 204, 255, 0.787);
} 
a:visited{
    color: rgb(255, 255, 255);
}